<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <h1>
        <div class="top">Know your</div>
        Rights
      </h1>
      <hr>
    </header>

    <main class="constrained">
      <div class="byline">
        By <a class="name" href="https://www.seattletimes.com/author/christine-willmsen/">Christine Willmsen</a> and <a class="name">Thomas Wilburn</a>
        <div class="date">Published: April 26, 2018</div>
      </div>

      <div class="intro">
        <%= archieml.qa.intro %>
      </div>

      <section class="scenario">
        <%= archieml.qa.scenario %>
      </section>

      <div class="questions">
        <%
        var makeButton = function(val) {
          var isCorrect = !!val.match(/\s+CORRECT/);
          var text = val.replace(/\s+CORRECT/, "");
          return `<button value="${isCorrect ? "correct" : "" }">${text}</button>`;
        }
        %>
        <% archieml.qa.questions.forEach(function(row) { %>
        <div class="question">
          <hr>
          <div class="text">
            <div class="big">Q:</div>
            <%= row.q %>
          </div>
          <div class="options">
            <% row.options.forEach(function(o) { print(makeButton(o)) }) %>
          </div>
          <div class="answer"><%= t.renderMarkdown(row.a) %></div>
        </div>
        <% }) %>
      </div>

      <aside class="sidebar">
        <h2>If you need help:</h2>
        <%= t.renderMarkdown(archieml.qa.help) %>
      </aside>

      <div class="closer">
        <%= t.renderMarkdown(archieml.qa.closer) %>
      </div>
    </main>

    <footer class="contact">
      <div class="constrained">
        <p>
          The Seattle Times wants to know if you’ve experienced harassment at work or elsewhere. You can reach us securely via our <a href="https://projects.seattletimes.com/news-tips/">secure news tips page</a>.
        <p>
          Christine Willmsen: <a href="mailto:cwillmsen@seattletimes.com">cwillmsen@seattletimes.com</a> or 206-464-3261. On twitter <a href="https://twitter.com/christinesea">@christinesea</a>
      </div>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
